
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- polyfill -->
	<!--
	<script src="../MIDI.js/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../MIDI.js/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../MIDI.js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<!--
	<script src="../MIDI.js/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/midi/gm.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/midi/loader.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<!-- utils -->
	<!--
	<script src="../MIDI.js/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../MIDI.js/js/util/dom_request_script.js" type="text/javascript"></script>
-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
	<script src="./rnd.js" type="text/javascript"></script>
	<script src="./1.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
	<div class="row" >&nbsp;
	</div>
	<div class="row" >
		<div class="col-sm-1">&nbsp;</div>
		<div class="col-sm-10">

			<div ng-app="cApp"><div ng-controller="cController">

<h1>{{message}}</h1>h1>



				<div class="container">
					<div class="row" ng-repeat="(key, value) in params">

						<div class="col-sm-3"><label>{{key}}</label></div>
						<div class="col-sm-5">
							<input ng-model="params[key]" type="text"/>
						</div>
					</div>
					<br>
				</div>
				<button class="btn btn-primary" ng-click="startMeasure()">Go!</button>


				<div>results:</div>
				<div>
					<div class="row" ng-repeat="measure in carrier.measures">
						{{measure}}
					</div>
				</div>				

			</div></div>

		</div>
	</div>
</div>
<script type="text/javascript">

window.onload = function () {
	/*MIDI.loadPlugin({
		soundfontUrl: "../MIDI.js/examples/soundfont/",
		instrument: "acoustic_grand_piano",
		onprogress: function(state, progress) {
			console.log(state, progress);
		},
		onsuccess: function() {
			var delay = 0; // play one note every quarter second
			var note = 50; // the MIDI note
			var velocity = 127; // how hard the note hits
			// play the note
			MIDI.setVolume(0, 127);
			MIDI.noteOn(0, note, velocity, delay);
			MIDI.noteOff(0, note, delay + 0.75);
		}
	});
	*/
};

</script>
</body>
</html>



